추천시스템
- 사용자 취향 고려해서 상품추천

1. 컨텐츠기반
2. 협업기반
- 잠재요인

가장 추천 알고리즘의 기본
1. 협업 필터링(Collaborative Filtering)
- Memory Based Approach
  - User-based Filtering
  - Item-based Filtering

- Model Based Approach
  - 행렬 분해(Matrix Factorization)

2. 콘텐츠 필터링(Contents-Based Filtering)


협업 필터링 이란 ?
- 영화를 추천받고 싶을때 우리는 어떻게 할까요?
   1. 내가 좋아하는 감독, 장르, 키워드의 영화를 찾아본다
   2. 나랑 성향이 비슷한 친구들이 본 영화를 찾아본다
- 대표적인 방법
 
- 이 것은 
   1. 내가 좋아하는 감독, 장르, 키워드의 영화를 찾아본다
      - Content Based Filtering
   2. 나랑 성향이 비슷한 친구들이 본 영화를 찾아본다
      - 협업 필터링(Collaborative Filetering)

- 협업 필터링(Collaborative Filtering) 특징
  - 가정 : 나와 비슷한 취향의 사람들이 좋아하는 것은 나도 좋아할 가능성이 높다 → 많은 사용자로 부터 얻은 취향 정보를 활용
  - 핵심 포인트 : "많은 사용자들"로 부터 얻은 취향 정보를 활용
      - 사용자의 취향 정보 = 집단 지성 
      - 축적된 사용자들의 집단 지성을 기반으로 추천
      - 예를 들어 : A 상품을 구매한 사용자가, 함께 구매한 다른 상품들

다차원 행렬 -> SVD(차원 축소) -> 행렬 분해(분해 과정에 잠재 요인 추출)

협업 필터링 종류
- 협업 필터링(Collaborative Filtering) 대표 접근법 
   1. Memory-Based Approach
       - 유사한 사용자(Users)나 아이템(Item)을 사용
         - 특징 : 최적화 방법이나, 매개변수를 학습하지 않음. 단순한 산술 연산만 사용
         - 방법 : Cosine Similarity나 Pearson Correlation을 사용함, ( * KNN 방법도 포함됨)
        - 장점
          1. 쉽게 만들 수 있음
          2.  결과의 설명력이 좋음
          3.  도메인에 의존적이지 않음
        - 단점
          1. 데이터가 축적 X or Sparse한 경우 성능이 낮음
          2. 확장가능성이 낮음 ( ∵ 데이터가 너무 많아지면, 속도가 저하됨)
       
   1. Model-Based Approach
       - 기계학습을 통해 추천 
          - 특징 : 최적화 방법이나, 매개변수를 학습
          - 방법 : 행렬분해(Matrix Factorization), SVD, 신경망
          - 장점 : 1. Sparse한 데이터도 처리 가능
          - 단점 : 1. 결과의 설명력이 낮음

Memory-Based Approach 협업 필터링
  - Memory-Based Approach의 대표 방법론


협력 필터링 대표 방법론
   -  대표 방법론 
       1) User-based Filtering 
       2) Item-based Filtering 

    - User-based Filtering  

      - 특정 사용자(User)를 선택

      - 예시 : SNS에서의 친구 추천 서비스

      1. "평점 유사도"를 기반으로 나와 유사한 사용자(Users)들을 찾음

      2. 유사한 사용자가 좋아한 Item을 추천

      - → 해석 : 당신과 비슷한 사용자 "ㄱ"은, "B"영화도 좋아했습니다

 

    - Item-based Filtering  

      - 특정 아이템(Item)을 선택

      - 예시 : 함께 구매한 경우가 많은 상품 - '사이다'와 '콜라'

      1. 특정 Item을 좋아한 사용자들을 찾음

      2. 그 사용자들이 공통적으로 좋아했던 다른 Item을 찾음

      - → 해석 : 이 아이템을 좋아한 사용자는, "B"영화도 좋아했습니다       

 

  - 유사도 측정 방법

    - 두 방법 모두 유사도(거리)를 측정하여 사용함

    - 거리 측정 방법은 다양함

       - 사용자(행) - 아이템(열) 행렬을 사용함

    - 일반적인 거리 측정 방법론

       - Cosine Similarity

       - Pearson Similarity

       - Euclidean Distance



- Cosine Similarity
    - 사용자와 사용자가 같은 방향성을 보고 있지는를 평가함
       - 일반적으로 사용되는 유사도

 

    - Pearson Correlation Similarity
       - 평균적인 경향성에서 얼마나 차이가 나는지를 기반으로 함
       - Centered Cosine Similarity 라고도 함
       - 평균을 빼므로, 사용자와 사용자-가 함께 사용한 아이템이 꽤나 있어야 함

 

  - 유사도를 활용한 추천 Flow
      - https://medium.com/@toprak.mhmt/collaborative-filtering-3ceb89080ade
      - medium.com
       - 위에 사이트를 참고
       - 
    1) User-Item 행렬(Matrix)를 구축
      - User-Item 행렬 구축
       - 목표 : 4번째 사용자(User)에게 영화를 추천해주기 위해서, 4번째 사용자가 아직 보지 않은 영화의 평점을 예측
     
    2) User간의 유사도 계산
      - 사용자 기반 유사도 측정
            * 유사도 값에 대한 예시는 대략적인 값으로 정확하지 않습니
   
    3) 예상 아이템의 평점 추론
       - ① 4번째 사용자가 보지 않은 영화들을 본 사용자의 평점을 추출

       - ② 4번째 사용자와의 "유사도" 계산

       - ③ 각 사용자 별 "유사도 x 평점" 계산

       - ④ 유사도가 반영된 "가중치 평점을 합산" 

       - ⑤ 가중치를 나누어 "평균 평점"을 계산하여, 4번째 사용자의 보지 않은 영화의 평점을 추론
       - 
 - Memory-based Approach의 장단점
    - 장점
       - 최적화(Optimization)나 훈련(Train)이 필요 없음
       - 쉬운 접근 방식

    - 단점
       - 희소(Sparse)데이터 경우 성능 저하 ( ∵ 비교 대상이 적으면, 성능저하)
       - 확장성에 제한 ( ∵ 비교 대상이 많아지면, 계산량이 증가)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas_datareader as pdr
import matplotlib.pyplot  as plt
from sklearn import tree
from sklearn import datasets
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.cluster import KMeans
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from mpl_toolkits.mplot3d import Axes3D
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
import warnings
warnings.filterwarnings("ignore")

# 맥 폰트 깨짐 이슈 해결
from matplotlib import rc
%matplotlib inline
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [17]:
# link_data = pd.read_csv('archive/links.csv')
movie_data = pd.read_csv('archive/movies.csv')
rating_data = pd.read_csv('archive/ratings.csv')
# tag_data = pd.read.csv('archive/tags.csv')

In [18]:
movie_data.head(2) # 사용자 - 평점 데이터

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [19]:
rating_data.head(2) # 영화 데이터

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

In [20]:
# timestamp 제거
rating_data.drop('timestamp', axis=1, inplace=True)

In [21]:
rating_data.head(2)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0

In [22]:
user_movie_rating=pd.merge(rating_data, movie_data, on="movieId")

In [16]:
user_movie_rating

,userId,movieId,rating,title,genres
0,1,31,2.5,Dangerous Minds (1995),Drama
1,1,1029,3.0,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,Sleepers (1996),Thriller
3,1,1129,2.0,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama
...,...,...,...,...,...
99999,671,6268,2.5,Raising Victor Vargas (2002),Comedy|Drama|Romance
100000,671,6269,4.0,Stevie (2002),Documentary
100001,671,6365,4.0,"Matrix Reloaded, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX
100002,671,6385,2.5,Whale Rider (2002),Drama
100003,671,6565,3.5,Seabiscuit (2003),Drama

In [23]:
movie_user_rating = user_movie_rating.pivot_table('rating',index='title',columns='userId')

In [31]:
user_movie_rating=user_movie_rating.pivot_table('rating', index='userId', columns='title')

In [32]:
user_movie_rating

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
movie_user_rating.head(5)

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$9.99 (2008),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Neath the Arizona Skies (1934),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
movie_user_rating.shape

(9064, 671)

In [28]:
movie_user_rating.info()
movie_user_rating.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 9064 entries, "Great Performances" Cats (1998) to İtirazım Var (2014)
Columns: 671 entries, 1 to 671
dtypes: float64(671)
memory usage: 46.5+ MB

userId
1      9044
2      8988
3      9013
4      8860
5      8964
       ...
667    8996
668    9044
669    9027
670    9033
671    8949
Length: 671, dtype: int64

In [30]:
movie_user_rating.T.isnull().sum()

title
"Great Performances" Cats (1998)             669
$9.99 (2008)                                 668
'Hellboy': The Seeds of Creation (2004)      670
'Neath the Arizona Skies (1934)              670
'Round Midnight (1986)                       669
                                            ...
xXx (2002)                                   648
xXx: State of the Union (2005)               670
¡Three Amigos! (1986)                        640
À nous la liberté (Freedom for Us) (1931)    670
İtirazım Var (2014)                          670
Length: 9064, dtype: int64

In [35]:
movie_user_rating.head()
# 아이템 기반 협업 필터링 : ~영화를 본 관객들은 다은 영화도 볼 것이다.

# NaN을 0으로 대체
movie_user_rating.fillna(0, inplace=True)

In [36]:
movie_user_rating.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$9.99 (2008),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Neath the Arizona Skies (1934),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
# Leaving Las Vegas(1995)에 대한 평가 점수 분포와 비슷한 영화를 추천
movie_user_rating.loc['Leaving Las Vegas (1995)']

userId
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
667    2.0
668    0.0
669    0.0
670    5.0
671    0.0
Name: Leaving Las Vegas (1995), Length: 671, dtype: float64

In [40]:
#       딥러닝   머신러닝  나는   
# 영화1   0           1     1     
# 영화2   1           0     1     
# 영화3   2           2     2    
# 영화4   1           1     1
from numpy.linalg import norm
# 영화4와 가장 거리(유클리디안)가 가까운(유사한) 영화가 무엇인가요? 1, 2 (거리 : 1)
def cossim(a,b):
    return np.dot(a,b) / (norm(a) * norm(b))
m1=np.array([0,1,1])
m2=np.array([1,0,1])
m3=np.array([2,2,2])
m4=np.array([1,1,1])
print(cossim(m1,m4))
print(cossim(m2,m4))
print(cossim(m3,m4))

0.8164965809277259
0.8164965809277259
1.0000000000000002

In [43]:
from sklearn.metrics.pairwise import cosine_similarity
item_based_cola_sim=cosine_similarity(movie_user_rating)
item_based_cola_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.05821787, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.05821787, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [44]:
item_based_cola_sim.shape

(9064, 9064)

In [45]:
item_based_cola_sim[0]

array([1., 0., 0., ..., 0., 0., 0.])

In [46]:
movie_user_rating.loc['Leaving Las Vegas (1995)']

userId
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
667    2.0
668    0.0
669    0.0
670    5.0
671    0.0
Name: Leaving Las Vegas (1995), Length: 671, dtype: float64

In [56]:
movie_user_rating.index[item_based_cola_sim[movie_user_rating.index.get_loc(input("영화 제목: "))].argsort()[-2:-7:-1]]

KeyError: 'Leaving Las Vegas (1995)'